@charset "UTF-8";
*{
  margin: 0px; padding: 0px;  
  font-size:18px;
}
.log_bg89{
	width: 380px;
    height: 260px;
    ackground: #0d7dac;
    border: #0d7dac 1px solid;
    position: absolute;
    top: 30%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    z-index: 901;
    background: wheat;
    box-shadow: 0px 0px 15px #000;
    display: none;
}
.top89{
	
	 position: relative;
    top: 0px;
    left: 0px;
}
